//@@include('inc/header.html')

<!-- Section: Main -->
<main class="l-main">
    <!-- Section: about -->
    <section class="about style-d">
        <div class="cotainer">
            <h2 class="title">About Our Agency</h2>
            <p class="subtitle">We are a new design studio based in USA. We have over 20 years of combined experience, and know a thing or two about designing websites and mobile apps. Clever use of technology and lean processes enable us to work faster and smarter.</p>
            <img class="signature" src="assets/img/signature.png" alt="">
        </div>
    </section>
    <!-- End of Section: about -->

    <!-- Section: numbers -->
    <section class="numbers style-d" style="background-image: url(assets/img/bg-pattern.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <div class="icon"><img src="assets/img/portfolio.png" alt=""></div>
                        <div class="title-alt">548</div>
                        <div class="subtitle-alt">projects completed</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="icon"><img src="assets/img/clock.png" alt=""></div>
                        <div class="title-alt">1465</div>
                        <div class="subtitle-alt">WORKING HOURS</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="icon"><img src="assets/img/star.png" alt=""></div>
                        <div class="title-alt">612</div>
                        <div class="subtitle-alt">POSITIVE FEEDBACKS</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="icon"><img src="assets/img/like.png" alt=""></div>
                        <div class="title-alt">735</div>
                        <div class="subtitle-alt">HAPPY CLIENTS</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Section: numbers -->

    <!-- Section: project -->
    <section class="project style-d">
        <div class="container">
            <h2 class="title">Best Projects</h2>
            <p class="subtitle">Donec orci sem, pretium ac dolor et, faucibus faucibus mauris. Etiam,pellentesque faucibus. Vestibulum gravida volutpat ipsum non ultrices.</p>
            <div class="row">
                <div class="portfolio-inner">
                    <div class="portfolio-item">
                        <img src="assets/img/lampa.jpg" alt="">
                    </div>
                    <div class="portfolio-text">
                        <h3 class="title-box">Vinyl Record</h3>
                        <h4 class="profesion-box">Mockup</h4>
                    </div>
                </div>
                <div class="portfolio-inner">
                    <div class="portfolio-item">
                        <img src="assets/img/lampa.jpg" alt="">
                    </div>
                    <div class="portfolio-text">
                        <h3 class="title-box">Modern T-Shirt</h3>
                        <h4 class="profesion-box">Print</h4>
                    </div>
                </div>
                <div class="portfolio-inner">
                    <div class="portfolio-item">
                        <img src="assets/img/lampa.jpg" alt="">
                    </div>
                    <div class="portfolio-text">
                        <h3 class="title-box">Minimal Bag</h3>
                        <h4 class="profesion-box">Branding</h4>
                    </div>
                </div>
                <div class="portfolio-inner">
                    <div class="portfolio-item">
                        <img src="assets/img/lampa.jpg" alt="">
                    </div>
                    <div class="portfolio-text">
                        <h3 class="title-box">Vinyl Record</h3>
                        <h4 class="profesion-box">Mockup</h4>
                    </div>
                </div>
                <div class="portfolio-inner">
                    <div class="portfolio-item">
                        <img src="assets/img/lampa.jpg" alt="">
                    </div>
                    <div class="portfolio-text">
                        <h3 class="title-box">Modern T-Shirt</h3>
                        <h4 class="profesion-box">Print</h4>
                    </div>
                </div>
                <div class="portfolio-inner">
                    <div class="portfolio-item">
                        <img src="assets/img/lampa.jpg" alt="">
                    </div>
                    <div class="portfolio-text">
                        <h3 class="title-box">Minimal Bag</h3>
                        <h4 class="profesion-box">Branding</h4>
                    </div>
                </div>
                <div class="portfolio-inner">
                    <div class="portfolio-item">
                        <img src="assets/img/lampa.jpg" alt="">
                    </div>
                    <div class="portfolio-text">
                        <h3 class="title-box">Vinyl Record</h3>
                        <h4 class="profesion-box">Mockup</h4>
                    </div>
                </div>
                <div class="portfolio-inner">
                    <div class="portfolio-item">
                        <img src="assets/img/lampa.jpg" alt="">
                    </div>
                    <div class="portfolio-text">
                        <h3 class="title-box">Modern T-Shirt</h3>
                        <h4 class="profesion-box">Print</h4>
                    </div>
                </div>
                <div class="portfolio-inner">
                    <div class="portfolio-item">
                        <img src="assets/img/lampa.jpg" alt="">
                    </div>
                    <div class="portfolio-text">
                        <h3 class="title-box">Minimal Bag</h3>
                        <h4 class="profesion-box">Branding</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Section: project -->

    <!-- Section: testimonials -->
    <section class="testimonials" style="background-image:url(assets/img/bg-pattern.jpg);">
        <div class="container">
            <div class="content">
                <div class="slider">
                    <div class="slider-item">
                        <h2 class="title">“ Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
                        </h2>
                        <h3 class="name">Michael Hopkins</h3>
                    </div>
                    <div class="slider-item">
                        <h2 class="title">“ Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
                        </h2>
                        <h3 class="name">Michael Hopkins</h3>
                    </div>
                    <div class="slider-item">
                        <h2 class="title">“ Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
                        </h2>
                        <h3 class="name">Michael Hopkins</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Section:testimonials -->

    <!-- Section: clients -->
    <section class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="inner"><img src="assets/img/handmade.png" alt=""></div>
                </div>
                <div class="col-md-3">
                    <div class="inner"><img src="assets/img/monntain.png" alt=""></div>
                </div>
                <div class="col-md-2">
                    <div class="inner"><img src="assets/img/colection.png" alt=""></div>
                </div>
                <div class="col-md-3">
                    <div class="inner"><img src="assets/img/mountainbike.png" alt=""></div>
                </div>
                <div class="col-md-2">
                    <div class="inner"><img src="assets/img/handmade.png" alt=""></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Section:clients -->

    <section class="blog style-d">
        <div class="container">
            <h2 class="title">Latest Blog</h2>
            <p class="subtitle">Donec orci sem, pretium ac dolor et, faucibus faucibus mauris. Etiam,pellentesque faucibus. Vestibulum gravida volutpat ipsum non ultrices.</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="inner-card">
                        <div class="card">
                            <div class="inner-img">
                                <img src="assets/img/kot.jpg" alt="">
                            </div>
                            <div class="section-btn"><a class="btn-card" href="">nature</a></div>
                            <h3 class="title-card">Something I need to tell you</h3>
                            <div class="date">May 16, 2016</div>
                            <p class="subtitle-card">Mauris sed odio tincidunt, volutpat augue, commodo dui. Phasellus hendrerit condi ntum vehicula.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inner-card">
                        <div class="card">
                            <div class="inner-img">
                                <img src="assets/img/doroga.jpg" alt="">
                            </div>
                            <div class="section-btn"><a class="btn-card" href="">nature</a></div>
                            <h3 class="title-card">Something I need to tell you</h3>
                            <div class="date">May 16, 2016</div>
                            <p class="subtitle-card">Mauris sed odio tincidunt, volutpat augue, commodo dui. Phasellus hendrerit condi ntum vehicula.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inner-card">
                        <div class="card">
                            <div class="inner-img">
                                <img src="assets/img/pochta.jpg" alt="">
                            </div>
                            <div class="section-btn"><a class="btn-card" href="">nature</a></div>
                            <h3 class="title-card">Something I need to tell you</h3>
                            <div class="date">May 16, 2016</div>
                            <p class="subtitle-card">Mauris sed odio tincidunt, volutpat augue, commodo dui. Phasellus hendrerit condi ntum vehicula.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</main>
<!-- End of Section: Main -->

//@@include('inc/footer.html')